body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #0167ff;
    color: #fff;
    padding: 20px;
    text-align: center;
    grid-row: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 600px;
    padding: 20px;
}

.blog-post {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post img {
    width: 100%; /* Make the image fill its container */
    border-radius: 5px;
    margin-bottom: 20px;
}

.home {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 3px;
}

.home:hover {
    background-color: #350eb7;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    grid-row: 3;
}
