<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sabbah Blog</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1 id="x">sabbah Blog</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-right">
            <img class="omg1" src="/ICONE/3.svg" alt="Search">
        </div>
    </header>

    <main class="main-container">
        <div class="sec">
            <section class="blog-post">
                <h6>language</h6> 
                <img id="imgcc"src="/ICONE/csharp.png" alt="C#" class="tr" >
                <h2>C#</h2>
                <p> is a general-purpose high-level programming language supporting multiple paradigms. C# encompasses static typing, strong typing, lexically scoped, imperative, declarative, functional, generic, object-oriented, and component-oriented programming disciplines.</p>
                <a href="/View/index2.html" class="read-more">Read More</a>
            </section>
        </div>

        <section class="blog-post">
            <h6>language</h6>
            <img id="imgcc" src="/ICONE/JavaScript.png" alt="JavaScript" class="tr" >
            <h2>JavaScript</h2>
            <p>JavaScript is a multi-paradigm, dynamic language with types and operators, standard built-in objects, and methods. Its syntax is based on the Java and C languages — many structures from those languages apply to JavaScript as well.</p>
            <a href="/View/index3.html" class="read-more">Read More</a>
        </section>

        <section class="blog-post">
            <h6>language</h6>
            <img id="imgcc" src="/ICONE/5.png" alt="HTML & CSS" class="tr" >
            <h2>HTML & CSS</h2>
            <p>HTML is the raw data that a webpage is built out of. All the text,links,cards,lists,and buttons are created in HTML.CSS is what adds style to those plain elements.HTML puts information on a webpage, and CSS positions that information, gives it color.</p>
            <a href="/View/index4.html" class="read-more">Read More</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 sabbah Blog</p>
    </footer>
</body>
</html>
