<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whf</title>
    <link rel="stylesheet" href="/styles/style2.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>sabbah Blog </h1>
        </header>
        <main>
            <div class="content">
                <article class="blog-post">
                    <h2>html&css</h2>
                    <img src="/ICONE/5.png" alt="Example Image">
                    <p>HTML and CSS, a dynamic duo in code's symphony,
                        Crafting web pages with finesse and harmony.
                        HTML, the structure, the bones of the frame,
                        Defines content's layout, its essence to claim.<br>
                        Tags and elements, like bricks in a wall,
                        Forming the canvas, where stories enthrall.
                        From headers to footers, paragraphs to lists,
                        HTML's versatility persists.<br>
                        CSS, the style, the painter's brush stroke,
                        Adding colors, fonts, making designs evoke.
                        Selectors and rules, cascading with grace,
                        Bringing aesthetics to every web space.<br>
                        Margins, paddings, floats, and flex,
                        CSS bends and shapes, no code it rejects.
                        Responsive design, its hallmark feat,
                        Adapting layouts to screens, big or petite.<br>
                        Transitions and animations, a visual delight,
                        CSS brings motion, making interfaces bright.
                        With preprocessors like Sass, it extends its hand,
                        Organizing styles, across the land.<br>
                        HTML and CSS, a pair tried and true,
                        In the world of web, they guide us through.
                        From simple sites to complex domains,
                        Their synergy reigns, as creativity reigns.</p>
                        <h6>Author Name: Mohammad Sabbah</h6>

                    <a href="index.html" class="home">home</a>
                </article>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 sabbah Blog</p>
        </footer>
    </div>
</body>
</html>
