<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sabbah</title>
    <link rel="stylesheet" href="/styles/style2.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>sabbah Blog </h1>
        </header>
        <main>
            <div class="content">
                <article class="blog-post">
                    <h2>javascript</h2>
                    <img src="/ICONE/JavaScript.png" alt="Example Image">
                    <p>
                        Interactivity's muse, it breathes life anew,
                        With DOM manipulation, it crafts views true.
                        Event-driven, it listens, responsive and keen,
                        Handling clicks, scrolls, like a silent unseen.
                        From basic scripts to complex frameworks grand,<br/>
                        JavaScript's reach extends over the land.<br/>
                        Angular, React, Vue, in its embrace,<br/>
                        It builds UIs with elegance and grace.<br/><br/>
                        Node.js emerges, on the server it thrives,
                        JavaScript's versatility further derives.<br/>
                        With async-await, promises, it conquers time,
                        Handling tasks seamlessly, a paradigm prime.<br/>
                        In the realm of data, JSON it adores,
                        A symbiotic bond, forevermore.<br/>
                        APIs it consumes, data it fetches,
                        JavaScript's journey, innovation etches.<br/><br/>
                        The language of the browser, ubiquitous and free,
                        JavaScript whispers tales from every tree.<br/>
                        From novice learners to seasoned vets,
                        It welcomes all to code's cadence sets.<br/><br/>
                        Yet with great power, challenges arise,
                        Cross-browser quirks, a developer's surprise.<br/>
                        But libraries and tools stand as allies,
                        Solving problems, reaching for the skies.<br/><br/>
                        Community-driven, it thrives and grows,
                        Stack Overflow's beacon, a knowledge glows.<br/>
                        Meetups, forums, where developers unite,
                        Sharing insights, fostering delight.<br/>
                        With every update, JavaScript evolves,
                        New features emerge, like mysteries solved.<br/>
                        But its core remains, dynamic and bright,
                        In the digital dawn, it continues its flight.</p>
                        <h6>Author Name: Mohammad Sabbah</h6>

                    <a href="index.html" class="home">home</a>
                </article>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 sabbah Blog</p>
        </footer>
    </div>
</body>
</html>
